/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

/* --------------------------Color Variables ----------------------- */
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --dark-green: hsl(154, 61%, 46%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --bg: hsl(171, 92%, 31%);
}

/* -------------------------- Global Styles ----------------------- */
body {
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  background-color: var(--bg);
  background-image: url(./images/bg-intro-desktop.png);
}

/* -------------------------- Content Styles ----------------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2.5rem;
  min-height: 100vh;
  max-width: 1200px;
}

.container > div {
  flex: 1;
  padding: 0 1.2rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

p {
  opacity: 0.8;
}

.box {
  background-color: white;
  padding: 3rem;
  border-radius: 7px;
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.1rem;
  text-align: center;
}

.box p {
  margin: 0;
}

.blue-box {
  padding: 1.2rem;
  background-color: var(--blue);
}

input {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--grayish-blue);
  border-radius: 7px;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

input:focus {
  border: 1.5px solid var(--blue);
  outline: none;
}

.form-control {
  margin-bottom: 2.4rem;
  position: relative;
}

.form-control.error input {
  border-color: var(--red);
  color: var(--red);
}

.form-control.error input::placeholder {
  color: var(--red);
  opacity: 0.7;
}

.form-control img {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 20px;
  opacity: 0;
}

.form-control.error img {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  opacity: 1;
}

.form-control small {
  position: absolute;
  bottom: -1.4rem;
  right: 0;
  text-align: right;
  opacity: 0;
  font-weight: 600;
  color: var(--red);
}

.form-control.error small {
  opacity: 1;
}

button {
  background-color: var(--green);
  color: whitesmoke;
  display: block;
  outline: none;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--dark-green);
  border-radius: 7px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.4 ease-in;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 3px 2px rgba(9, 82, 25, 0.5);
}

small {
  color: var(--grayish-blue);
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 1rem;
  letter-spacing: 1px;
}

small a {
  color: var(--red);
  text-decoration: none;
  font-weight: 600;
}

/* Media Queries */
@media screen and (max-width: 735px) {
  body {
    overflow-y: scroll;
  }

  .container {
    flex-direction: column;
    padding: 1rem;
    min-height: 100vh;
    max-width: 1200px;
  }

  .container > div {
    flex: 1;
    padding: 0 1.2rem;
  }

  h1,
  p {
    text-align: center;
  }

  .box {
    padding: 1.5rem;
    text-align: center;
  }

  .blue-box {
    padding: 1rem;
  }

  .form-control {
    margin-bottom: 1.5rem;
  }

  .form-control small {
    position: absolute;
    bottom: -1.4rem;
    right: 0;
    text-align: right;
  }
}
